//.login_form {
//    position: absolute;
//}
//
//.register_form {
//    position: absolute;
//}

#loginbox {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10% !important;
  padding: 20px;
  background: white;
}