<head>
  <%= stylesheet_link_tag 'custom/custom' %>
</head>
<body>
<div id="mContainer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= react_component('main', {user_email: current_user.email, user_id: current_user.id}) %>
</div>
</body>